* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "DM Sans", sans-serif;
}

:root {
  --main-text-white: #f5eded;
  --main-text-blue: #116adf;
  --main-bg-color: #0a102b;
  --main-bg2-color: #d9dad7;
}
body {
  height: 100vh;
  background: var(--main-bg-color);
}

/* Primeira seção  */

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 130px;
}

.title {
  display: flex;
  flex-direction: column;
  color: var(--main-text-white);
  margin: 120px auto 0;
  position: relative;
}

.title img {
  width: 650px;
  position: relative;
}

.secondeHeaderText p {
  position: relative;
  bottom: 70px;
  font-size: 28px;
  font-weight: 900;
}

.secondeHeaderText {
  font-size: 25px;
  font-weight: 200;
  line-height: 55px;
}

.secondeHeaderText span {
  color: var(--main-text-blue);
}

.headerMail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productInfo {
  font-size: 20px;
  color: var(--main-text-white);
  text-align: start;
  align-items: center;
  line-height: 40px;
  display: flex;
  flex-wrap: wrap;
}

.productInfoSpan {
  font-weight: 900;
  color: var(--main-text-blue);
}

.productInfoBold {
  font-weight: 900;
}

.formMail {
  display: flex;
  justify-content: center;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.formStyle p {
  color: var(--main-text-blue);
  font-size: 20px;
  font-weight: 900;
}
.formStyle input {
  height: 40px;
  width: 500px;
  background-color: var(--main-text-white);
  border-radius: 10px;
  border: none;
  font-weight: 700;
  text-align: center;
}

.labelForm {
  width: 100%;
}
.labelForm button {
  width: 100%;
}

.mailButton {
  background-color: var(--main-text-blue);
  color: var(--main-text-white);
  font-family: "DM Sans", sans-serif;
  height: 50px;
  width: 100%;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 900;
  transition: 0.6s;
}

.mailButton:hover {
  border: 2px solid var(--main-bg2-color);
}

.line {
  height: 1px;
  width: auto;
  background-color: var(--main-text-blue);
  margin: 10px 70px 70px;
}

/* Segunda seçõa */

.infos {
  width: auto;
  background-color: var(--main-bg2-color);
}

.infosParagrafo {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  padding-top: 80px;
  font-size: 25px;
  font-weight: bold;
  color: var(--main-bg-color);
}

.infosParagrafo span {
  color: var(--main-text-blue);
}

.gridInfos {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

  padding: 50px 0 100px;
}
.gridInfos > div {
  flex: 1 1 300px;
  margin: 30px;
}

ion-icon {
  font-size: 64px;
  color: var(--main-text-blue);
}
.lineInfos {
  height: 1.4px;
  background-color: var(--main-text-blue);
  margin-top: 20px;
}
.aboutProduct {
  width: 350px;
  height: 350px;
  text-align: center;
  line-height: 30px;
  align-items: center;
}

.aboutProduct h1 {
  margin-bottom: 15px;
}

.aboutProduct p {
  font-size: 20px;
}

/* Terceira seção */

.aboutme {
  background-color: var(--main-bg-color);
  padding: 90px;
  flex-wrap: wrap;
}

.sobremim {
  margin-top: 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-content: space-around;
  margin: 50px;
  align-items: center;
  justify-items: center;
}

.textaboutme {
  color: var(--main-text-white);
  width: 100%;
}

.textaboutme h1 {
  color: var(--main-text-blue);
  font-weight: 800;
  padding-bottom: 17px;
  font-size: 30px;
  text-align: center;
}

.textaboutme p {
  text-align: justify;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
}

.socials {
  color: var(--main-text-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.socials span {
  color: var(--main-text-blue);
}

.mailLast {
  width: 100%;
}
.mailLast p {
  color: var(--main-text-white);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.mailButton {
  margin-bottom: 40px;
}

.socialLinks {
  margin-top: 10px;
}

.socialLinks a {
  text-decoration: none;
}

.socialLinks ion-icon {
  margin: 15px;
  font-size: 45px;
  color: var(--main-text-white);
}

.lineLast {
  height: 1px;
  width: 100%;
  background-color: var(--main-text-white);
  margin: 10px 0 30px;
  align-items: center;
}

/* footer */

.footer {
  width: auto;
  background-color: var(--main-bg2-color);
  flex-wrap: wrap;
}

.footer p {
  color: var(--main-bg-color);
  padding: 25px;
  text-align: center;
  font-weight: 700;
}

/* responsive */

@media (max-width: 1270px) {
  .productInfo {
    margin-bottom: 50px;
  }

  .sobremim {
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .socials {
    width: 68%;
  }
}

@media (max-width: 768px) {
  .aboutme {
    padding: 40px;
  }
}

@media (max-width: 650px) {
  .title img {
    width: 550px;
  }
  .secondeHeaderText p {
    bottom: 55px;
  }
}

@media (max-width: 650px) {
  .title img {
    width: 450px;
  }
}

@media (max-width: 640px) {
  .productInfo {
    width: 80vw;
    text-align: center;
  }
}

@media (max-width: 585px) {
  .socials h1 {
    text-align: center;
  }
}

@media (max-width: 525px) {
  .socialLinks {
    ion-icon {
      font-size: 25px;
    }
  }
}
@media (max-width: 500px) {
  .formStyle {
    width: 80vw;
  }

  .formStyle input {
    width: 80vw;
  }
  .title img {
    width: 350px;
  }

  .secondeHeaderText p {
    bottom: 50px;
  }
}

@media (max-width: 425px) {
  .aboutme {
    padding: 10px;
  }
  .productInfo {
    width: 90vw;
    text-align: center;
  }

  .formStyle {
    width: 90vw;
  }

  .formStyle input {
    width: 90vw;
  }

  .socials h1 {
    text-align: center;
  }

  .socialLinks {
    ion-icon {
      font-size: 30px;
    }
  }
}

@media (max-width: 375px) {
  .socialLinks {
    ion-icon {
      font-size: 23px;
    }
  }
  .title img {
    width: 250px;
  }
  .secondeHeaderText p {
    bottom: 40px;
    font-size: 18px;
  }
}

/* @media (max-width: 375px) {

} */

@media (max-width: 320px) {
  .socialLinks {
    ion-icon {
      font-size: 25px;
    }
  }
  .socialLinks {
    width: 70vw;
    text-align: center;
  }
}
